


.home{
    width: 100%;
    margin-inline: auto;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
}
.hero__container{
    display: flex;
}
.text__box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section{
    width: 50%;
    height: auto;
}
.image_container img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .hero__container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .section{
        width: 90%;
    }
    .text__box{
        height: 200px;
    }
}